.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 301;
    top: 0;
    left: 0;
    background-color: #262830;
    border-right: 1px solid rgba(64, 64, 64, 0.5);
    box-shadow: 8px 0 3px -6px rgba(64, 64, 64, 0.5);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
    
}

.sidenav .sideNavItem:first-child{
    margin-top: 30px;
}
.sidenav.collapseSide .sideNavItem > img{
    visibility: visible;
    height: 24px;
    width: 24px;
}

.sidenav .sideNavItem > img{
    visibility: visible;
    height: 24px;
    width: 24px;
    margin-right: 20px;
    margin-top: -4px;
    position: relative;
    top: 4px;
}

.sidenav .sideNavItem {
    padding: 8px 8px 8px 15px;
    text-decoration: none;
    font-size: 1vw;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #ffffff;
    display: block;
    border-left: 3px solid #262835;
    cursor: pointer;
    margin: 5px 0 5px 0;
}

.sidenav > .activeSideItem, .sidenav .sideNavItem:hover, .sidenav .sideNavItem:active, .sidenav .sideNavItem:focus {
    border-left: 3px solid #0099cc;
    background-color: #494d66;
    text-decoration: none;
    text-transform: none;
}

.invisib{
    visibility: visible;
  transition: all 0.1s ease-in-out;
  transform: translate(-100px);

}
.visib{
    visibility: visible;
    color: white;
    
    animation-name: slideInLeft;
    animation-duration: 0.3s;
}
@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


/* this is new sidebar*/
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #111827;
  color: #9ca3af !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-top,
.sidebar-center,
.sidebar-bottom {
  display: flex;
  align-items: center;
  width: 80%;
  border-bottom: 1px solid #4b4b4b;
  padding: 10px 0;
  margin-bottom: 10px;
}

.sidebar-center {
  padding: 0;
}

.sidebar-bottom {
  justify-content: center;
  border: none;
}

.logo {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
  padding-left: 10px;
}

.brand {
  font-weight: bold;
  cursor: pointer;
}

.list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.list-item {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.list-item-icon {
  width: 30px;
  font-size: 20px;
}

.list-item.active,
.list-item:hover {
  background-color: #374151;
  color: white;
}
Link{
  text-decoration: none;
}
.color-box {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #9ca3af;
  margin-right: 15px;
  cursor: pointer;
}

.dark {
  background-color: #111827;
}

.night {
  background-color: #312e81;
}

.light {
  background-color: #f3f4f6;
}

.sidebar.night {
  background-color: #312e81;
  color: #b4bbc7 !important;
}

.list-item.night.active {
  background-color: #4338ca;
}

.sidebar.light {
  background-color: #f3f4f6;
  color: #111827;
}

.list-item.light.active {
  background-color: #d1d5db !important;
  color: #111827;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    width: 50px;
  }
  .brand,
  .list-item-text {
    display: none;
  }
}

.mt3-nav
{
  margin-top: 30px;
}
.ml1
{
  margin-left: 10px;
}